<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634594299679-ml85u1h52ueeh18bjb5vc98aitmtdtcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634594299679-ml85u1h52ueeh18bjb5vc98aitmtdtcc</string>
	<key>API_KEY</key>
	<string>AIzaSyChP6V4OIyFSyR3jUCutQT4T0max9Z6_hc</string>
	<key>GCM_SENDER_ID</key>
	<string>634594299679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduVista</string>
	<key>PROJECT_ID</key>
	<string>edu-vista-5d6ba</string>
	<key>STORAGE_BUCKET</key>
	<string>edu-vista-5d6ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634594299679:ios:681a76d968a6efb85faa2a</string>
</dict>
</plist>